@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,600&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
html {
  font-family: "Raleway", "Cardo", sans-serif;
  font-size: 16px;
}
@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 9px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  overflow: hidden;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 50px 0;
  background: url("../img/vacations.jpg") center/cover no-repeat;
}
.app .container {
  max-width: 1170px;
}
@media (max-width: 992px) {
  .app .container {
    width: 760px;
  }
}
@media (max-width: 767px) {
  .app .container {
    width: 570px;
  }
}
@media (max-width: 576px) {
  .app .container {
    width: 96%;
  }
}
@media (max-width: 320px) {
  .app .container {
    width: 96%;
  }
}
.app .container .boards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.app .container .boards .boards_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  max-width: 250px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 15px;
  margin-bottom: 15px;
  padding: 10px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  border-radius: 3px;
}
.app .container .boards .boards_item .title {
  padding: 5px;
  color: #eeeeee;
}
.app .container .boards .boards_item .title:focus {
  outline: 1px solid rgba(168, 168, 168, 0.45);
}
.app .container .boards .boards_item .list {
  min-height: 40px;
}
.app .container .boards .boards_item .list .list_item {
  background-color: #fefefe;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  margin: 4px 0;
  cursor: pointer;
  font-weight: 400px;
  font-size: 0.875rem;
  outline: none;
  border: none;
}
.app .container .boards .boards_item .form {
  border-radius: 3px;
  margin-top: auto;
  display: none;
}
.app .container .boards .boards_item .form .textarea {
  resize: none;
  padding: 10px 15px;
  border-radius: 3px;
  border: none;
  background: #fefefe;
  width: 100%;
}
.app .container .boards .boards_item .form .textarea:focus {
  outline: none;
}
.app .container .boards .boards_item .form .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.app .container .boards .boards_item .form .buttons .add_item-btn {
  background: #0d88da;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  width: 100%;
  font-size: 0.75rem;
  color: #eeeeee;
}
.app .container .boards .boards_item .form .buttons .cancel_item-btn {
  padding: 5px 15px;
  background: #a0110c;
  border: none;
  font-size: 0.75rem;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin-left: auto;
  color: #eeeeee;
  cursor: pointer;
}
.app .container .boards .boards_item .add_btn {
  padding: 5px 15px;
  background: rgba(155, 155, 155, 0.3);
  border-radius: 3px;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #eeeeee;
  cursor: pointer;
}
.app .container .boards .boards_item .add_btn span {
  font-size: 0.9375rem;
  margin-right: 10px;
  color: #eeeeee;
}
.app .container .button_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.app .container .button_row .button {
  padding: 0.625em 0.9375em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(3, 47, 73, 0.62);
  border: none;
  width: 14em;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  margin: auto;
  color: #eeeeee;
  border-radius: 0.1875em;
  font-size: 0.875rem;
}

.switcher {
  margin-left: 15px;
  width: 3.75em;
  height: 3.75em;
  background-color: rgba(254, 254, 254, 0.7);
  -webkit-box-shadow: 0 0 0.625em rgba(3, 47, 73, 0.62);
          box-shadow: 0 0 0.625em rgba(3, 47, 73, 0.62);
  border-radius: 50%;
  position: fixed;
  bottom: 0%;
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.switcher .forest {
  color: #025521;
  font-size: 1.875rem;
  cursor: pointer;
}
.switcher .beach {
  color: #0d88da;
  font-size: 1.875rem;
  cursor: pointer;
}

.trash {
  margin-left: 15px;
  width: 3.75em;
  height: 3.75em;
  background-color: rgba(254, 254, 254, 0.7);
  -webkit-box-shadow: 0 0 0.625em rgba(3, 47, 73, 0.62);
          box-shadow: 0 0 0.625em rgba(3, 47, 73, 0.62);
  border-radius: 50%;
  position: fixed;
  bottom: 0%;
  right: 0%;
  margin-right: 15px;
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.trash .fa-trash-can {
  color: #a0110c;
  font-size: 1.875rem;
  cursor: pointer;
}