@import './fonts.scss';
@import './variables.scss';

html {
  font-family: 'Raleway', 'Cardo', sans-serif;
  font-size: 16px;
  @media (max-width: 992px) {
    font-size: 14px;
  }
  @media (max-width: 767px) {
    font-size: 12px;
  }
  @media (max-width: 576px) {
    font-size: 10px;
  }
  @media (max-width: 320px) {
    font-size: 9px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 50px 0;
  background: url('../img/vacations.jpg') center/cover no-repeat;

  .container {
    max-width: 1170px;
    @media (max-width: 992px) {
      width: 760px;
    }
    @media (max-width: 767px) {
      width: 570px;
    }

    @media (max-width: 576px) {
      width: 96%;
    }
    @media (max-width: 320px) {
      width: 96%;
    }

    .boards {
      display: flex;
      width: 100%;
      .boards_item {
        display: flex;
        flex-direction: column;
        align-self: baseline;
        max-width: 250px;
        width: 100%;
        background-color: $black_transp;
        margin: 0 15px;
        padding: 10px;
        transition: 0.3s all ease;
        border-radius: 3px;
        .title {
          padding: 5px;
          color: $text_color;
          &:focus {
            outline: 1px solid $outline_transp;
          }
        }
        .list {
          min-height: 40px;
          .list_item {
            background-color: $bg_card;
            border-radius: 3px;
            padding: 10px;
            text-align: center;
            margin: 4px 0;
            cursor: pointer;
            font-weight: 400px;
            font-size: $_14px;
            outline: none;
            border: none;
          }
        }
        .form {
          border-radius: 3px;
          margin-top: auto;
          display: none;
          .textarea {
            resize: none;
            padding: 10px 15px;
            border-radius: 3px;
            border: none;
            background: $bg_card;
            width: 100%;
            &:focus {
              outline: none;
            }
          }
          .buttons {
            display: flex;
            .add_item-btn {
              background: $button;
              border: none;
              padding: 5px 15px;
              cursor: pointer;
              border-radius: 3px;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-right: 10px;
              width: 100%;
              font-size: $_12px;
              color: $text_color;
            }
            .cancel_item-btn {
              padding: 5px 15px;
              background: $button_cancel;
              border: none;
              font-size: $_12px;
              border-radius: 3px;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 50%;
              margin-left: auto;
              color: $text_color;
              cursor: pointer;
            }
          }
        }
        .add_btn {
          padding: 5px 15px;
          background: $button_add_transp;
          border-radius: 3px;
          margin-top: 5px;
          display: flex;
          font-size: $_12px;
          align-items: center;
          color: $text_color;
          cursor: pointer;
          span {
            font-size: $_15px;
            margin-right: 10px;
            color: $text_color;
          }
        }
      }
    }
    .button_row {
      display: flex;
      justify-content: center;
      align-items: center;

      .button {
        padding: 10px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $button_add_board;
        border: none;
        width: 200px;
        cursor: pointer;
        position: absolute;
        bottom: 50px;
        margin: auto;
        color: $text_color;
        border-radius: 3px;
        font-size: $_14px;
      }
    }
  }
}
.switcher {
  margin-left: 15px;
  width: 60px;
  height: 60px;
  background-color: $bg_card_transp;
  box-shadow: 0 0 10px $button_add_board;
  border-radius: 50%;
  position: fixed;
  bottom: 0%;
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  justify-content: center;

  .forest {
    color: $forest;
    font-size: $_30px;
    cursor: pointer;
  }
  .beach {
    color: $button;
    font-size: $_30px;
    cursor: pointer;
  }
}
