$black_transp: rgb(0, 0, 0, 0.5);
$text_color: rgb(238, 238, 238);
$bg_card: #fefefe;
$outline_transp: rgb(168, 168, 168, 0.45);
$button: rgb(13, 136, 218);
$button_cancel: rgb(160, 17, 12);
$button_add_transp: rgb(155, 155, 155, 0.3);
$button_add_board: rgba(3, 47, 73, 0.62);

$_12px: 0.75rem;
$_14px: 0.875rem;
$_15px: 0.9375rem;
